node_modules/
.next/
.env
.env.local
*.log
*.err
*.db
!backend/data/Product.db
!backend/data/Category.db
!backend/data/User.db
!backend/data/Order.db
!backend/data/Banner.db
!backend/data/FAQ.db
!backend/data/Inventory.db
!backend/data/Setting.db
!backend/data/Testimonial.db
!backend/data/Token.db
!backend/data/USP.db
uploads/
invoices/
.DS_Store
tsconfig.tsbuildinfo
